header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: #1f1f1f;
  animation: slide-in 1s forwards;
  z-index: 1;
}
header a,
li {
  font-family: "Raleway";
  color: white;
  text-decoration: none;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  margin: 0px 30px;
}
header ul li {
  position: relative;
  margin: 10px;
}
header ul svg {
  font-size: 30px;
}
#web-nav a::after {
  position: absolute;
  top: 110%;
  left: 0;
  content: "";
  width: 0%;
  height: 1.5px;
  background: #ffff;
  transition: width 0.55s ease;
}
#web-nav a:hover::after {
  width: 100%;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}
