#home {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  overflow-x: hidden;
  opacity: 0;
  animation: fadeIn 0.75s ease-in forwards;
}
#hello {
  height: 90vh;
  margin-top: 5rem;
  margin-left: 10vw;
}
#hello h1 {
  font-size: 120px;
}
#hello span {
  display: block;
  font-family: "Raleway";
}
#hello span:nth-child(1) {
  color: #c78c00;
}
#hello span:nth-child(3) {
  font-size: 35px;
  margin-bottom: 20px;
}
#slides-wrapper {
  position: relative;
}
#slides-wrapper h2 {
  text-align: center;
  margin-bottom: 30px;
}
#slides-wrapper button {
  position: absolute;
  font-size: 4.5rem;
  color: #1f1f1f;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
#slides-left {
  top: 50%;
  left: 20px;
}
#slides-right {
  top: 50%;
  right: 20px;
}
#slides {
  display: grid;
  grid-template-columns: repeat(3, 90vw);
  transition: transform 0.65s ease;
}
.img-container {
  padding: 0vw 10vw;
  pointer-events: none;
}
.img-container img {
  filter: grayscale(0.65);
  width: 80vw;
}
.img-container span {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 80vw;
  height: 100px;
  background: #1f1f1f;
  font-family: "Orbitron";
  text-transform: uppercase;
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
